# base discord stuff
aiohttp==3.7.4.post0
# Discord.py
-e git+https://github.com/naoTimesdev/ndiscord.py@feature/welcome-screen-ex#egg=ndiscord.py[voice]
wavelink==1.0.0b30

aioredis==2.0.0
aiofiles==0.7.0
ujson==4.0.2
bson==0.5.10
Pillow==9.0.0
pyppeteer==0.2.5
orjson==3.6.1

# Logging
coloredlogs==15.0.1
colorama==0.4.4
