# base discord stuff
aiohttp==3.7.4.post0
# Discord.py
-e git+https://github.com/Rapptz/discord.py.git@1e17b7fceaf7173b1666465e639d1bebaa126683#egg=discord.py
discord-py-slash-command==2.4.2

aioredis==2.0.0
aiofiles==0.7.0
ujson==4.0.2
bson==0.5.10
Pillow==8.3.1
pyppeteer==0.2.5
orjson==3.6.1

# Logging
coloredlogs==15.0.1
colorama==0.4.4